/*adding the -*- makes everything change, not only the body*/
*{
	margin: 0;
	padding: 0;
}

body{
	color:papayawhip;
	font-family: Arial, Helvetica, sans-serif; 
	background-color: burlywood;
	/*the padding and the margin make it close to the edge*/
	padding: 0;
	margin: 0;
}
/*adding -a- is to change the color of the lnks in order to have contrast*/
a{
	color: saddlebrown;
}

/*hover changes the color link when you go over it*/
a:hover{
	color:black;
	text-decoration: none;
}	

h1{
	padding: 10px;
	background-color: black;

}

h2{
	padding: 5px;
	background-color: black;
}

p{
	padding: 10px;

}

nav{
	background-color: papayawhip;
}

/*Navigation Styles*/
/*when you dont want it in list format*/
nav ul{
	list-style: none;
	padding: 60;
}

nav li{
/*adding the display will make it all one line*/
	/*border: 1px white;*/
	display: inline;
}

nav a{
	/*space in bettween nav.*/
	display: inline-block;
	padding: 20px
}
/*adds a boc when you hover over it*/
nav a:hover{
	background-color: sienna;

}